h2{
    font-size: 20px;
}
.userIcon {
    background-image: url(./img/pngguru.com.png);
    height: 50px;
    width: 50px;
}

.userIcon {
    position: relative;
    display: block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
}
.lista {
    width: 100%;
    padding: 0;
    border: 0;
    margin-bottom: 5px;
}
p{
    margin: 0;
}
.float-left {
    margin-right: 20px;
}
.limitP{
    width: 80px;
    overflow: scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.limitP:hover,
.tags:hover{
    text-overflow: clip;
  }

.tags{
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
}

.list-group-all {
    padding: 0;
    margin-bottom: 20px;
}
.itinerarysList{
    height: 440px;
    overflow: scroll;
}

.imgBack{
    background-image: url(../btns/back-left.png);
    height: 30px;
    width: 30px;
}


.imgBack {
    position: relative;
    display: block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
}